:root {
  --red: #bb0000;
  --orange: #e97b20;
  --bg: linear-gradient(
    180deg,
    rgba(255, 204, 0, 1) 0%,
    rgba(187, 0, 0, 1) 100%
  );
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.audio {
  position: fixed;
  top: 50px;
  right: 10px;
  z-index: 9999;
}

.audio button {
  background-color: #bb0000;
  border: none;
  border-radius: 50%;
  padding: 5px;
}

.simply-countdow {
  overflow: hidden;
  display: table;
}
.simply-countdow > .simply-section {
  width: 40px;
  height: 40px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
  border-radius: 10px;
  background: var(--red);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.simply-countdow > .simply-section .simply-amount {
  display: block;
  text-align: center;
  font-size: 1.6rem;
}

body {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.hero,
.body {
  background: var(--bg);
  min-height: 100vh;
  color: #ffffff;
}

.hero img {
  width: 35%;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem !important;
}

.hero a,
.acara a {
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid var(--red);
  border-radius: 5px;
  background-color: #d4c4c4;
  color: black;

  &:hover {
    color: #ffffff;
    background-color: #bb0000;
    border: 2px solid #d4c4c4;
  }
}

.home .container {
  background-image: url("../images/bg-main.png");
  color: #196aea;
  padding: 100px 0;
  min-height: 500px;
}

.home .container,
.acara .container,
.gift .container,
.gallery .container,
.thanks .container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.home h1,
.thanks h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 3rem !important;
  text-shadow: var(--shadow);
}

.acara .container {
  background-image: url("../images/bg-acara.png");
}

.acara h1,
.gift h1,
.gallery h1 {
  font-size: 5rem;
  color: #196aea;
  font-family: "Permanent Marker", cursive;
  text-shadow: var(--shadow);
}

.acara h3 {
  color: #196aea;
  font-weight: 600;
}

.acara .card img {
  width: 50px;
}

.acara .card {
  background-color: #ffffff;
  border-radius: 20px;
  width: fit-content;
  max-width: 400px;
  box-shadow: var(--shadow);
  padding: 20px;
  color: #000000;
  h2 {
    border-bottom: 2px double #000000;
  }
}

.gift .container {
  background-image: url("../images/gift.png");
}

.gift h4 {
  color: #000000;
  font-weight: 600;
}

.gift .salin {
  background-color: green;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.gallery .container {
  background-image: url("../images/gallery.png");
}

.gallery .carousel img {
  border-radius: 10px;
}

.thanks .container {
  background-image: url("../images/bg-main.png");

  .card {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: var(--shadow);
    color: #bb0000;
    border-radius: 20px;
  }

  .medsos {
    background-color: #d5c9c9;
    width: fit-content;
    padding: 5px 10px;
    font-size: 2rem;
    border-radius: 10px;
  }

  h2 {
    text-shadow: var(--shadow);
  }
}

/* Media query */
/* laptop */

@media (max-width: 990px) {
  html {
    font-size: 75%;
  }
}

/* tablet */

@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdow > .simply-section {
    padding: 35px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  .simply-countdow > .simply-section {
    padding: 25px;
    margin: 5px;
  }
}
